cffi==1.11.5
click==6.7
csvalidate==1.1.1
Flask==1.0.2
Flask-CSV==1.1.0
Flask-Dropzone==1.4.4
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
marshmallow==2.15.6
numpy==1.14.5
Pillow==5.1.0
pycparser==2.19
pydub==0.22.1
scikit-learn==0.19.1
scipy==1.1.0
sklearn==0.0
Werkzeug==0.14.1
WTForms==2.1
