<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Edyson</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/style.css') }}>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/BufferLoader.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="loading"></div>
    <div id="floatingCircle"></div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="navbar-brand" href="#">Edyson</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style='color:white' href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style='color:white' href="#">Documentation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style='color:white' href="https://github.com/perfall/Temporally-Disassembled-Audio">GitHub</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style='color:white' href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Examples
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for example in examples %}
                    <a class="dropdown-item" href="/{{example}}">{{examples[example]}}</a>    
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style='color:white' href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Automatic clustering
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="buttonGroup9">
                    <h6 class="dropdown-header">K-means cluster size</h6>
                    <button type="button" value="kcolor2" class="btn-block btn btn-light btn-sm">2</button>
                    <button type="button" value="kcolor3" class="btn-block btn btn-light btn-sm">3</button>
                    <button type="button" value="kcolor4" class="btn-block btn btn-light btn-sm">4</button>
                    <button type="button" value="kcolor5" class="btn-block btn btn-light btn-sm">5</button>
                    <button type="button" value="kcolor6" class="btn-block btn btn-light btn-sm">6</button>
                    <button type="button" value="kcolor7" class="btn-block btn btn-light btn-sm">7</button>
                    <button type="button" value="kcolor8" class="btn-block btn btn-light btn-sm">8</button>
                    <button type="button" value="kcolor20" class="btn-block btn btn-light btn-sm">20</button>
                </div>
            </li>
        </ul>
        <a class="nav-link" id="keyLink" style='color:white'>ID: {{session_key}}</a>
        <form class="form-inline my-2 my-lg-0" action="goByKey" method="POST" enctype=multipart/form-data>
            <input class="form-control mr-sm-2" name="id" type="search" placeholder="Enter id" aria-label="Search">
            <button class="btn btn-outline my-sm-0" type="submit">Go</button>
        </form>
    </nav>
    <div class="container-fluid" id="content">
        <div class="row top-buffer side-buffer" id="row1">
            <div class="col-1">
                <h5>Annotation</h5>
                <div>
                    <div class="buttonGroup1">
                        <button type="button" value="black" class="btn-block btn btn-dark top-buffer-xs btn-sm">None </button>
                    </div>
                    <div class="input-group top-buffer-xs">
                        <div class="input-group-prepend lockButton">
                            <button type="button" color="blue" value="unlocked" class="btn-block btn btn-dark btn-sm">
                            <i class="fa fa-unlock" aria-hidden="true"></i>
                            </button>
                        </div>
                        <input type="text" id="blueLabel" class="form-control" value="L1">
                        <div class="input-group-prepend colorAudioButton">
                            <button type="button" color="blue" value="silent" class="btn-block btn btn-light btn-sm">
                            <i class="categoryPlay fa fa-play" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="input-group-prepend buttonGroup1">
                            <button type="button" value="blue" class="btn-block btn btn-primary btn-sm"></button>
                        </div>
                    </div>
                    <div class="input-group top-buffer-xs">
                        <div class="input-group-prepend lockButton">
                            <button type="button" color="green" value="unlocked" class="btn-block btn btn-dark btn-sm">
                            <i class="fa fa-unlock" aria-hidden="true"></i>
                            </button>
                        </div>
                        <input type="text" id="greenLabel" class="form-control" value="L2">
                        <div class="input-group-prepend colorAudioButton">
                            <button type="button" color="green" value="silent" class="btn-block btn btn-light btn-sm">
                            <i class="categoryPlay fa fa-play" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="input-group-prepend buttonGroup1">
                            <button type="button" value="green" class="btn-block btn btn-success btn-sm"></button>
                        </div>
                    </div>
                    <div class="input-group top-buffer-xs">
                        <div class="input-group-prepend lockButton">
                            <button type="button" color="yellow" value="unlocked" class="btn-block btn btn-dark btn-sm">
                            <i class="fa fa-unlock" aria-hidden="true"></i>
                            </button>
                        </div>
                        <input type="text" id="yellowLabel" class="form-control" value="L3">
                        <div class="input-group-prepend colorAudioButton">
                            <button type="button" color="yellow" value="silent" class="btn-block btn btn-light btn-sm">
                            <i class="categoryPlay fa fa-play" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="input-group-prepend buttonGroup1">
                            <button type="button" value="yellow" class="btn-block btn btn-warning btn-sm"></button>
                        </div>
                    </div>
                    <div class="input-group top-buffer-xs">
                        <div class="input-group-prepend lockButton">
                            <button type="button" color="red" value="unlocked" class="btn-block btn btn-dark btn-sm">
                            <i class="fa fa-unlock" aria-hidden="true"></i>
                            </button>
                        </div>
                        <input type="text" id="redLabel" class="form-control" value="L4">
                        <div class="input-group-prepend colorAudioButton">
                            <button type="button" color="red" value="silent" class="btn-block btn btn-light btn-sm">
                            <i class="categoryPlay fa fa-play" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="input-group-prepend buttonGroup1">
                            <button type="button" value="red" class="btn-block btn btn-danger btn-sm"></button>
                        </div>
                    </div>
                </div>
                <div id="buttonGroup7">
                    <button type="button" class="btn btn-block btn-dark top-buffer-xs btn-sm">Color all</button>
                </div>
                <h5 class="top-buffer-sm">Algorithm</h5>
                <div class="buttonGroup2">
                    <button type="button" value="tsne" class="btn btn-block btn-success btn-sm">t-SNE</button>
                    <button type="button" value="pca" class="btn btn-block btn-dark btn-sm">PCA</button>
                    <button type="button" value="som" class="btn btn-block btn-dark btn-sm">SOM</button>
                    <button type="button" value="umap" class="btn btn-block btn-dark btn-sm">UMAP</button>
                    <!-- <button type="button" value="ae" class="btn btn-block btn-dark top-buffer-sm btn-sm">AutoEncoder</button> -->
                </div>
                <h5 class="top-buffer-sm">Cursor size</h5>
                <div id="buttonGroup3">
                    <button type="button" id = "buttonSize50" value="50" class="btn btn-dark">S</button>
                    <button type="button" id = "buttonSize100" value="100" class="btn btn-success">M</button>
                    <button type="button" id = "buttonSize150" value="150" class="btn btn-dark">L</button>
                    <!-- <button type="button" id = "buttonSize300" value="300" class="btn btn-dark">XL</button> -->
                </div>
                <h5 class="top-buffer-sm">Retrain</h5>
                <div id="buttonGroup5">
                    <button type="button" value="mfcc1" class="btn btn-block btn-dark btn-sm">Run</button>
                </div>
                <h5 class="top-buffer-sm">Export</h5> 
                <div id="buttonGroup4"> 
                    <button type="button" value="csv" class="btn btn-block btn-dark btn-sm">CSV</button>
                </div>
                <h5 class="top-buffer-sm">Median filter</h5>
                <div id="medianFilterValueBox">
                    <input type="number" id="medianfilterValue" value=2 style="width: 100%">
                </div>
            </div>
            <div class="col-10">
                <svg id="map">
                    <text id="loadText" x="50%" y="50%" text-anchor="middle" opacity="0.8" fill="black" font-size="100px" font-family="Arial" dy=".2em" style="display:none">Loading..</text>
                    <text id="listeningText" x="50%" y="6%" text-anchor="middle" opacity="0.8" fill="black" font-size="30px" font-family="Arial" dy=".2em" style="display:none">Listening</text>
                    <text id="coloringText" x="50%" y="6%" text-anchor="middle" opacity="0.8" fill="black" font-size="30px" font-family="Arial" dy=".2em" style="display:none">Coloring</text>
                    <text id="startText" x="50%" y="4%" text-anchor="middle" opacity="0.8" fill="black" font-size="20px" font-family="Arial" dy=".2em">Hold Ctrl to listen and Shift to color</text>
                    <rect id="listeningMode"x="0%" y ="0%" stroke="black" stroke-dasharray="5" stroke-width="25" fill="none" width="100%" height="100%" style="display:none"></rect>
                    <rect id="coloringMode"x="0%" y ="0%" stroke="black" stroke-width="25" fill="none" width="100%" height="100%" style="display:none"></rect>
                </svg>
            </div>
            <div class="col-1">
                <div id="metadata">
                    <h5>Metadata</h5>
                    <h6>Filename</h6>
                    <p id="metaAudioPath">
                        <script>$("#metaAudioPath").text('{{audioPath}}'.split("/").slice(-1))</script>
                    </p>
                    <h6>Duration</h6>
                    <p id="metaDuration">
                        <script>$("#metaDuration").text(msToTime('{{audioDuration}}'))</script>
                    </p>
                    <h6>Segment size</h6>
                    <p>{{segmentSize}} ms</p>
                    <h6>Step size</h6>
                    <p>{{stepSize}} ms</p>
                    <h6>Datapoints</h6>
                    <p>{{datapoints}}</p>
                </div>
                <h5 class="top-buffer-sm">Sampling</h5>
                <div id="buttonGroup8" role="group">
                    <button type="button" value ="10" class="btn btn-dark btn-sm">0.1</button>
                    <button type="button" value ="2" class="btn btn-dark btn-sm">0.5</button>
                    <button type="button" value ="1" class="btn btn-success btn-sm">1.0</button>
                </div>
                <h5 class="top-buffer-sm">Audio</h5>
                <div id="audioSettings" class="">
                    <h6 id="launchSliderText" class=""></h6>
                    <div class="slidecontainer">
                        <input type="range" min="10" max="1000" value="250" step="10" class="slider" id="launchSlider">
                    </div>
                    <h6 id="fadeSliderText" class="top-buffer-xs"></h6>
                    <div class="slidecontainer">
                        <input type="range" min="0" max="500" value="250" step="10" class="slider" id="fadeSlider">
                    </div>
                    <!-- <h6 id="gradientSliderText" class="top-buffer-sm"></h6>
                        <div class="slidecontainer">
                            <input type="range" min="0" max="100" value="50" step="10" class="slider" id="gradientSlider">
                        </div> -->
                    <!-- <h6 id="paddingSliderText" class="top-buffer-sm"></h6>
                        <div class="slidecontainer">
                            <input type="range" min="0" max="0" value="500" step="10" class="slider" id="paddingSlider">
                        </div> -->
                    <!-- <h6 class="top-buffer-sm">Duration: </h6>
                        <div class="slidecontainer">
                            <input type="range" min="50" max="3000" value="1500" step="50" class="slider" id="durationSlider" disabled>
                        </div> -->
                </div>
                <h5 class="top-buffer-sm">Sequential playback</h5>
                <div id="buttonGroup6">
                    <button type="button" value ="play" class="btn btn-dark btn-sm"><i class="fa fa-play" aria-hidden="true"></i></button>
                    <button type="button" value ="pause" class="btn btn-dark btn-sm"><i class="fa fa-pause" aria-hidden="true"></i></button>
                    <button type="button" value ="stop" class="btn btn-success btn-sm"><i class="fa fa-stop" aria-hidden="true"></i></button>
                </div>
                <div class="top-buffer-sm text-center">
                    <p id="loading-label">Audio loading...</p>
                    <img id="loading-sm" src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif">
                </div>
            </div>
        </div>
        <div class="row side-buffer top-buffer-sm h-5" id="row2">
            <svg id="sequenceMap">
                <rect id="timeBar"></rect>
                <span id="timeBarDuration" class="unSelectableText"></span>
            </svg>
            <svg id="graphMap"></svg>
        </div>
        <audio id="audioBar"controls controlsList="nodownload" style="display:none">
            <source src="{{audioPath}}">
        </audio>
    </div>
    <script type="text/javascript">
        // Define variables passed from app.py, they are used in js-file
        var audioDuration = '{{audioDuration}}';
        var segmentSize = '{{segmentSize}}';
        var stepSize = '{{stepSize}}';
        var audioPath = '{{audioPath}}';
        var sessionKey = '{{session_key}}';
        var data = {{data | tojson}};
        var audioPaths = '{{audioPaths}}'.split(",");
    </script>
</body>