<html>
    <head>
        <meta charset="utf-8">
        <title>Visualization</title>
        <link rel="stylesheet" href="../static/css/scatter.css" charset="utf-8">

    </head>
    <body>
        <h3>Session key (save for later): {{session_key}}</h3>
        <div id="floatingCircle"></div>
        <div id="scatter"></div>
        <script src="//code.jquery.com/jquery-1.12.4.js"></script>
        <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.7/d3-tip.js">   </script>

        <script>
            var fileName = '{{path}}' + "/output.csv";
            var soundDir = '{{path}}' + "/sounds/";
            $('#floatingCircle').css({'visibility': '' + 'visible'});
            $("body").mousemove(function(ev) {
                $('#floatingCircle').css({
                'left': '' + ev.pageX-50 + 'px',
                'top': '' + ev.pageY-50 + 'px'
              });
            }); 

            console.log(fileName)
            console.log(soundDir)
            var margin = {
                    top: 50,
                    right: 100,
                    bottom: 50,
                    left: 100
                },
                outerWidth = screen.width*0.9,
                outerHeight = screen.height*0.8,
                width = outerWidth - margin.left - margin.right,
                height = outerHeight - margin.top - margin.bottom;
            
            var x = d3.scale.linear()
                .range([0, width]).nice();
            
            var y = d3.scale.linear()
                .range([height, 0]).nice();
            
            var xAxis = d3.svg.axis()
                .scale(x)
                .orient("bottom")
                .tickSize(-height);
            
            var yAxis = d3.svg.axis()
                .scale(y)
                .orient("left")
                .tickSize(-width);
            
            var xCat = "x",
                yCat = "y",
                rCat = "intensity",
                colorCat = "label";
                fname = "fname"
            
            var labels = {
                "intensity": "Intensity",
                "y": "y",
                "x": "x",
                "label": "Label",
                "fname": "fname"
            }
            
            d3.csv(fileName, function(data) {
                data.forEach(function(d) {
                    d.y = +d.y;
                    d.x = +d.x;
                    d.intensity = + (d.intensity/255);
                    d.category = d.category;
                    d.fname = d.fname;
            
                });
            
                var xMax = d3.max(data, function(d) {
                        return d[xCat];
                    }) * 1.05,
                    xMin = d3.min(data, function(d) {
                        return d[xCat];
                    }),
                    xMin = xMin > 0 ? 0 : xMin,
                    yMax = d3.max(data, function(d) {
                        return d[yCat];
                    }) * 1.05,
                    yMin = d3.min(data, function(d) {
                        return d[yCat];
                    }),
                    yMin = yMin > 0 ? 0 : yMin;
                x.domain([xMin, xMax]);
                y.domain([yMin, yMax]);
            
                var color = d3.scale.category10();
            
            
                var tip = d3.tip()
                    .attr("class", "d3-tip")
                    .offset([-10, 0])
                    .html(function(d) {
                        //$(".axis").effect("shake");
                        //console.log(d[fname]);

                        data.forEach(function(dp) {
                            dist = Math.sqrt((d.x - dp.x)*(d.x - dp.x) + (d.y - dp.y)*(d.y - dp.y));
                            //b2 = (d.y - dp.y)*(d.y - dp.y);
                            //c = Math.sqrt(a2+b2); 
                            //console.log(dp.x, dp.y, c);
                            // if(dist<5){
                                
                            //     	//console.log(d.x, d.y, " and ", dp.x, dp.y);
                            //     	console.log(dp[fname])
                            //     	var snd = new Audio(soundDir + dp[fname] + ".wav"); // buffers automatically when created
                            //     	setTimeout(function() {playSound(snd);}, 2000);
                            //     	//snd.play();
                            //     //sleep(20);
                            // }
                        });

                        console.log(soundDir + d[fname] + ".wav");
                        var snd = new Audio(soundDir + d[fname] + ".wav"); // buffers automatically when created
                        snd.play();
                        // return labels[rCat] + ": " + d[rCat] + "<br>" + "Category: " + d[colorCat];
                        return "x:" + d.x + "<br>" + "y:" + d.y;
                    });

                function playSound(snd) {
                	snd.play();
                }
            
                var zoomBeh = d3.behavior.zoom()
                    .x(x)
                    .y(y)
                    .scaleExtent([0, 1000])
                    .on("zoom", zoom);


                var svg = d3.select("#scatter")
                    .append("svg")
                    .attr("width", outerWidth)
                    .attr("height", outerHeight)
                    .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
                    .call(zoomBeh);
                svg.call(tip);
                svg.append("rect")
                    .attr("width", width)
                    .attr("height", height);
                svg.append("g")
                    .classed("x axis", true)
                    .attr("transform", "translate(0," + height + ")")
                    .call(xAxis)
                    .append("text")
                    .classed("label", true)
                    .attr("x", width)
                    .attr("y", margin.bottom - 10)
                svg.append("g")
                    .classed("y axis", true)
                    .call(yAxis)
                    .append("text")
                    .classed("label", true)
                    .attr("transform", "rotate(-90)")
                    .attr("y", -margin.left)
                    .attr("dy", "1.5em")
                    .style("text-anchor", "end")
            
                var objects = svg.append("svg")
                    .classed("objects", true)
                    .attr("width", width)
                    .attr("height", height);
                objects.append("svg:line")
                    .classed("axisLine hAxisLine", true)
                    .attr("x1", 0)
                    .attr("y1", 0)
                    .attr("x2", width)
                    .attr("y2", 0)
                    .attr("transform", "translate(0," + height + ")");
                objects.append("svg:line")
                    .classed("axisLine vAxisLine", true)
                    .attr("x1", 0)
                    .attr("y1", 0)
                    .attr("x2", 0)
                    .attr("y2", height);
                objects.selectAll(".dot")
                    .data(data)
                    .enter().append("circle")
                    .classed("dot", true)
                    .attr({
                        r: function(d) {
                            return 15 * Math.sqrt(d[rCat] / Math.PI);
                        },
                        cx: function(d) {
                            return x(d[xCat]);
                        },
                        cy: function(d) {
                            return y(d[yCat]);
                        }
                    })
                .style("fill", function(d) {
                    return color(d[colorCat]);
                })
                    .on("mouseover", tip.show)
                    .on("mouseout", tip.hide);
            
                var legend = svg.selectAll(".legend")
                    .data(color.domain())
                    .enter().append("g")
                    .classed("legend", true)
                    .attr("transform", function(d, i) {
                        return "translate(0," + i * 20 + ")";
                    });
                legend.append("rect")
                    .attr("x", width + 10)
                    .attr("width", 12)
                    .attr("height", 12)
                    .style("fill", color);
                legend.on("click", function(type) {
                    // dim all of the icons in legend
                    d3.selectAll(".legend")
                        .style("opacity", 0.1);
                    // make the one selected be un-dimmed 
                    d3.select(this)
                        .style("opacity", 1);
                    // select all dots and apply 0 opacity (hide)
                    d3.selectAll(".dot")
                    // .transition()
                    // .duration(500)
                    .style("opacity", 0.05)
                    // filter out the ones we want to show and apply properties
                    .filter(function(d) {
                        return d["label"] == type;
                    })
                    .style("opacity", 1) // need this line to unhide dots
                    .style("stroke", "black")
                    // apply stroke rule
                    .style("fill", function(d) {
                        if (d.hospital_expire_flag == 1) {
                            return this
                        } else {
                            return "white"
                        };
                    });
                });
                legend.append("text")
                    .attr("x", width + 26)
                    .attr("dy", ".65em")
                    .text(function(d) {
                        return d;
                    });
            
                d3.select("button.changexlos").on("click", updateX)
            
                function zoom() {
                    svg.select(".x.axis").call(xAxis);
                    svg.select(".y.axis").call(yAxis);
                    svg.selectAll(".dot")
                        .attr({
                            cx: function(d) {
                                return x(d[xCat]);
                            },
                            cy: function(d) {
                                return y(d[yCat]);
                            }
                        })
                        // .attr("transform", transform);
                }
            
                function transform(d) {
                    return "translate(" + x(d[xCat]) + "," + y(d[yCat]) + ")";
                }

            
                function updateX() {
                    xCat = "intensity",
                    yCat = "y",
                    rCat = "x",
                    colorCat = "category";
                    xMax = d3.max(data, function(d) {
                        return d[xCat];
                    }) * 1.05,
                    xMin = d3.min(data, function(d) {
                        return d[xCat];
                    }),
                    xMin = xMin > 0 ? 0 : xMin,
                    yMax = d3.max(data, function(d) {
                        return d[yCat];
                    }) * 1.05,
                    yMin = d3.min(data, function(d) {
                        return d[yCat];
                    }),
                    yMin = yMin > 0 ? 0 : yMin;
                    x.domain([xMin, xMax]);
                    y.domain([yMin, yMax]);
            
                    var zoomBeh = d3.behavior.zoom()
                        .x(x)
                        .y(y)
                        .scaleExtent([0, 1000])
                        .on("zoom", zoom);
            
                    var svg = d3.select("svg").transition();
                    svg.select(".y.axis")
                        .duration(1000)
                        .call(yAxis);
                    svg.select('.x.axis')
                        .duration(1000)
                        .call(xAxis);
                    svg.select('.label')
                        .duration(1000)
                    .attr("x", width)
                        .attr("y", margin.bottom - 10)
                        .style("text-anchor", "end")
                        .text("Intensity");
            
                    d3.selectAll("circle.dot")
                        .transition()
                        .duration(1000)
                        .attr({
                            r: function(d) {
                                return 4 * Math.sqrt(d[rCat] / Math.PI);
                            },
                            cx: function(d) {
                                return x(d[xCat]);
                            },
                            cy: function(d) {
                                return y(d[yCat]);
                            }
                        })
                }
            });
            
            
            
        </script>
    </body>
</html>